
<footer class="app-footer">
    <div class="footer-wrapper">
      <div class="py-1">
        <span class="text-muted">&copy; 2023, Wedash for a better web.</span>
      </div>
      <div class="py-1">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <a class="link-secondary" href="javascript:">About Us</a>
          </li>
          <li class="list-inline-item">
            <a class="link-secondary" href="javascript:">Blog</a>
          </li>
          <li class="list-inline-item">
            <a class="link-secondary" href="javascript:">Library</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  
  <!-- Required Js -->
  <script src="../assets/js/plugins/jquery.min.js"></script>
  <script src="../assets/js/plugins/popper.min.js"></script>
  <script src="../assets/js/plugins/simplebar.min.js"></script>
  <script src="../assets/js/plugins/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/feather.min.js"></script>
  <script src="../assets/js/main.js"></script>
  <!-- Apex Chart -->
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>



<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  
  
  </body>
  
  
  </html>