<!DOCTYPE html>
<html lang="en">


<head>
  <title>
  
  </title>
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Dashboard Template Description" />
  <meta name="keywords" content="Dashboard Template" />
  <meta name="author" content="Techne infosys" />

  <!-- Favicon icon -->
  <link rel="icon" href="https://dev.techneinfosys.com/html/wedash/demo/assets/images/favicon.svg"
    type="image/x-icon" />

  <!-- font css -->
  <link rel="stylesheet" href="../assets/fonts/tabler-icons.min.css">
  <link rel="stylesheet" href="../assets/fonts/feather.css">
  <link rel="stylesheet" href="../assets/fonts/fontawesome.css">
  <link rel="stylesheet" href="../assets/fonts/material.css">

  <!-- vendor css -->
  <link rel="stylesheet" href="../assets/css/style.css" id="main-style-link">
  <link rel="stylesheet" href="../assets/css/plugins/dataTables.bootstrap5.min.css">

  


</head>

<body class="theme-1">
  <!-- { Pre-loader } start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- { Pre-loader } End -->
  <!-- { Header } start -->
  <header class="site-header">
    <div class="header-wrapper">
      <div class="me-auto flex-grow-1 d-flex align-items-center">
        <ul class="list-unstyled header-menu-nav">
          <li class="hdr-itm mob-hamburger">
            <a href="#!" class="app-head-link" id="mobile-collapse">
              <div class="hamburger hamburger-arrowturn">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="d-none d-md-none d-lg-block header-search ms-3">
          <!-- <form action="#">
            <div class="input-group ">
              <input class="form-control rounded-3" type="search" value="" id="searchInput" placeholder="Search">
              <div class="search-btn">
                <button class="btn p-0 rounded-0 rounded-end" type="button">
                  <i data-feather="search"></i>
                </button>
              </div>
            </div>
          </form> -->
        </div>
      </div>

      <nav class="ms-auto">
        <ul class="header-menu-nav list-unstyled">
          <li class="hdr-itm dropdown ntf-dropdown">
            <a href="#" class="app-head-link dropdown-toggle no-caret" data-bs-toggle="dropdown" role="button"
              aria-haspopup="false" aria-expanded="false">
              <i class="ti ti-bell"></i>
              <span class="bg-danger h-dots"></span>
            </a>
            <div class="dropdown-menu header-dropdown  dropdown-menu-end">
              <div class="notification-header">
                <h5 class="m-0">Notification</h5>
                <a href="#" class="btn  btn-outline-danger">Delet All</a>
              </div>
              <div class="notification-list">
                <div class="notification-body">
                  <div class="d-flex align-items-start my-3">
                    <div class="flex-grow-1">
                      <div class="d-flex align-items-start justify-content-between mb-2">
                        <a href="#">
                          <h5 class="mb-0">Desktop notification turned on</h5>
                        </a>
                        <a href="#" class="text-hover-danger"><i data-feather="x"></i></a>
                      </div>
                      <div class="d-flex align-items-end justify-content-between">
                        <p class="mb-0 text-muted">
                          Now you will receive desktop notifications
                        </p>
                        <span class="text-sm ms-2 text-nowrap">1 min ago</span>
                      </div>
                    </div>
                  </div>
                  <hr class="dropdown-divider m-0">
                  <div class="d-flex align-items-start my-3">
                    <div class="flex-grow-1">
                      <div class="d-flex align-items-start justify-content-between mb-2">
                        <a href="#">
                          <h5 class="mb-0">Admin settings</h5>
                        </a>
                        <a href="#" class="text-hover-danger"><i data-feather="x"></i></a>
                      </div>
                      <div class="d-flex align-items-end justify-content-between">
                        <p class="mb-0 text-muted">
                          Setup complete
                        </p>
                        <span class="text-sm ms-2 text-nowrap">2 min ago</span>
                      </div>
                    </div>
                  </div>
          

                </div>
              </div>
              <div class="notification-footer">
                <div class="d-grid">
                  <a href="#" class="btn  btn-outline-secondary">View all</a>
                </div>
              </div>
            </div>
          </li>
   
          <li class="hdr-itm dropdown user-dropdown ">
            <a class="app-head-link dropdown-toggle no-caret me-0" data-bs-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <span class="avtar"><img src="../assets/images/user/avatar-2.jpg" alt=""></span>
            </a>
            <div class="dropdown-menu header-dropdown">
              <ul class="p-0">
                <li class="dropdown-item ">
                  <a href="#" class="drp-link">
                    Edit Profile
                  </a>
                </li>

                <hr class="dropdown-divider">
                <li class="dropdown-item ">
                  <a href="logout" class="drp-link">
                    <i data-feather="log-out"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- { Header } end -->
  <!-- { navigation menu } start -->

  <%- include('sidebar') %>

  <!-- { navigation menu } end -->

  <!-- [ Header ] end -->
</body>

