<aside class="app-sidebar app-light-sidebar">
    <div class="app-navbar-wrapper">
        <div class="brand-link brand-logo">
            <a href="./dashboard" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="https://dev.techneinfosys.com/html/wedash/demo/assets/images/logo-dark.svg" alt=""
                    class="logo logo-lg" />
            </a>
        </div>
        <div class="navbar-content">

            <ul class="app-navbar">

                <li class="nav-item nav-hasmenu">
                    <a href="./dashboard" class="nav-link"><span class="nav-icon"><i class="ti ti-layout-2"></i></span><span
                            class="nav-text">Dashboard</span></a>

                </li>

                <li class="nav-item nav-hasmenu">
                    <a href="#!" class="nav-link"><span class="nav-icon"><i class="ti ti-layout-2"></i></span><span
                            class="nav-text">CB PAYMENT</span><span class="nav-arrow"><i
                                data-feather="chevron-right"></i></span></a>
                    <ul class="nav-submenu">
                        <li class="nav-item">
                            <a class="nav-link" href="./addPayment">FORM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="SuccessPayment">SUCCESS PAYMENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="FailPayment">FAIL PAYMENT</a>
                        </li>
                    </ul>
                </li>




            </ul>
        </div>
    </div>
</aside>