<!DOCTYPE html>
<html lang="en">


<head>
    <title></title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta  name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Dashboard Template Description" />
    <meta name="keywords" content="Dashboard Template" />
    <meta name="author" content="Techne infosys" />

    <!-- Favicon icon -->
    <link rel="icon" href="https://dev.techneinfosys.com/html/wedash/demo/assets/images/favicon.svg" type="image/x-icon" />

    <!-- font css -->
    <link rel="stylesheet" href="../assets/fonts/tabler-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/feather.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="../assets/fonts/material.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="#" id="rtl-style-link">
    <link rel="stylesheet" href="../assets/css/style.css" id="main-style-link">

</head>

<body class="theme-1">
    <!-- { signup } start -->
    <div class="auth-wrapper authentication-signin bg-primary ">
        <div class="auth-content">
            <div class="row align-items-center justify-content-center text-start">
                <div class="col-xl-4 col-lg-8 col-md-10">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="border p-4 rounded">
                                <div class="text-center">
                                    <h3>2-Step Verification</h3>
                                </div>
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-lg-10">
                                        <div class="row mb-3">
                                            <div class="col-3">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-block mt-2">
                                                Send Code
                                            </button>
                                        </div>
                                        <p class="mb-2 mt-4 text-center">
                                            Haven't received it?
                                            <a href="#" class="f-w-400">Resend a new code.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- { signup } end -->
    <!-- Required Js -->
    <script src="../assets/js/vendor-all.js"></script>
    <script src="../assets/js/plugins/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/feather.min.js"></script>


</body>


</html>